*{
    margin:0;        /*so initially for all elements there is no margin*/
    font-family: Arial;
    border:border-box;    /*using border box will include the border within width and height*/
}


.navbar{
    height:60px;
    color:white;    /**text**/ 
    background-color:#0f1111;
    display:flex;    /**this will display different divs of navbar in same line**/
    align-items: center;
    justify-content:space-evenly;/**content in main axis left to right will be differentiated evenly**/ 
}


 .nav-logo{
    height: 50px;
    width:100px;
 }


.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100%;
}


.border{
    border:1.5px solid transparent;  /**transparent-colour of background will be same as that of border**/
}


.border:hover{
    border:1.5px solid white;
}


/**box2-address**/
.add-first{
     color:#cccccc;
     font-size:0.85rem;
     margin-left: 15px; /**to push to right side**/
}


.add-second{
    font-size:1rem;  /**by giving rem displaying content contrast will be based on rem**/
     /**color of add sec will be that of add first(bec.of parent)**/
     margin-left:3px;
}


.add-icon{
    display:flex;  /**for having india and loc icon on same line **/
    align-items:center;/**it will come on center of cross axis**/ 
}

/** box3 **/
.nav-search{
    display:flex;
    justify-content: space-evenly; /**to give 3 contents equal space in bw**/
    background-color: pink;
    width:620px;
    height:40px;
    border-radius: 4px;  /**for curving**/
}


.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
}


.search-input{
    width:100%; /**this will give the remaining area to search input,which means if we set width for all and search button the remaining area will be attained by search space**/
    font-size:1rem;
    border:none;
}


.search-icon{
    width:45px;
    display:flex;          
    justify-content: center;/**for making search button center horizontally**/
    align-items: center;/**for making search button center vertically**/
    /**jc and ai can be written only if display is flex**/
    font-size: 1.2rem;
    background-color:#febd68;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color: #0f1111;/**search button color**/
}


.nav-search:hover{
   border:2px solid orange; 
}
/**box4**/
span{
    font-size:0.7rem;

}
.nav-second{
    font-size:0.85rem;
    font-weight:700; /**to increase contrast**/ 
}

/** box6 **/
.nav-cart i{ /**if we write this all icons will have the following features **/
 font-size:30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight:700;
}

/**panel**/
.panel{
    height: 40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items:center;
    justify-content: space-evenly;
}
.panel-ops p{
    display:inline;
    margin-left:15px;/**to give distance between different paragraphs**/
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size:0.9rem;
    font-weight:700;
}

/**hero section**/
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:350px;
    /**the following lines are going to written for placing the paragraph at the bottom of the div**/ 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color:black;
    height:40px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size:0.85rems;
    margin-bottom:25px ;
}
.hero-message a{
    color:#007185
}

/**shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;/**to place only 4 boxes in a row**/
    justify-content: space-evenly;/**to give 4 boxes even space bw them**/
    background-color: #e2e7e6;
}

.box{
  /*  border:2px solid black; */
    height:400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
}

.box-img{
    height:300px;
    background-size: cover;/*to avoid reoeat of image*/
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.box-content p{
    color: #007185;
}

/** footer **/

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color:#37475a ;
    color:white;
    height:50px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;/**text**/
    height:300px;
    display: flex;/**for making each ul to display in the same line**/
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}
ul a{
    display: block;/**to avoid displaying the contents of ul in same line**/
    font-size:0.85rem;
    margin-top:10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height:80px;
    font-size: 0.7rem;/**to make text at the center**/
    text-align: center;/**to give 25px distance from top**/

}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
    
}